body{
  font-family: 'Raleway', sans-serif;
}

.meta {
  font-size: small;
  font-style: monospace;
}

.box {
  border: 1px solid #CCCCCC;
  padding: 5px 10px;
  text-transform: capitalize;
  font-weight: 500;
}

a {
  text-decoration: none !important;
  color: #707070;
}

.accordion-button {
  padding: 0.5rem;
}